extends ../layout.jade

block content
  .container(ng-controller='TaskCtrl')
    .btn-group.col-md-5(dropdown)
      button(type='button' class='btn btn-block btn-danger dropdown-toggle'
        ng-click='actionSubmit()'
        ng-disabled='disabled'
        dropdown-toggle) 
        b {{selectedAction.name}} 
        span(class='caret')
      ul(class='dropdown-menu' role='menu')
        li(ng-repeat='action in actions')
          a(href='#' ng-click='setAction(action)') {{action.name}}
    table(class='table table-hover')
      thead
        tr
          th DO::
          th ASK::
          th ALL
            br
            input(type='checkbox')
      tbody
        tr(ng-repeat='task in tasks')
          td {{task.cmd}}
          td {{task.ask}}
          td
            input(type='checkbox')
