extend ../layout.jade

block navbar-brand
  a.navbar-brand.hidden-xs(href='#')=sails.config.appName + ' - Edit Template'

block content
  div.container(ng-controller='TemplateEditCtrl')
      h2.small {{template.name}}
      h2.small {{template.description}}
append scripts
  script(src='/js/modules/template-edit.js')