.animate-show {
  opacity: 1;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}

.animate-show.ng-hide {
  opacity: 0;
}
