html(ng-app='patch-it')
  head
    title= sails.config.appName + ' | ' + title
    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/dependencies/angular.js")
    script(src="/js/dependencies/bootstrap/ZeroClipboard.min.js")
    script(src="/js/dependencies/bootstrap/ui-bootstrap.js")
    script(src="/js/dependencies/jquery-2.1.3.min.js")
    script(src="/js/app.js")
    // SCRIPTS END
    // STYLES
    link(rel="stylesheet", href="/styles/bootstrap.min.css")
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END

  body
    block menu
    block content
    block footer
    block scripts
